<div id="error" *ngIf="showError" class="alert alert-danger">
    No matching records found.
</div>
<div class="page">

    <!-- Subscription Component -->
    <div class="row">
        <div class="col-md-12 col-lg-10 offset-lg-1 col-xl-8 offset-xl-2">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <h3 id="subscribe-header">
                                <span class="small">Set Up Your</span><strong> New Pets Alert</strong>
                            </h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 margin-bottom-0">
                            <form id="subscribe-form">
                                <p>
                                    We'll e-mail you when new pets that match your search critera are added to our site! <a href="#">What is This?</a>
                                </p>
                                <div class="row">
                                    <div class="col-md-6">
                                        <input
                                            class="form-control"
                                            placeholder="Email"
                                            type="text"
                                        >
                                    </div>
                                    <div class="col-md-6">
                                        <input
                                            class="form-control"
                                            placeholder="Retype Email"
                                            type="text"
                                        >
                                    </div><!-- col -->
                                </div><!-- row -->
                                <div class="row">
                                    <div class="col-md-12 margin-bottom-0">
                                        <button class="btn btn-primary">Save</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-6 margin-bottom-0">
                            <div id="offers">
                                <br class="d-block d-md-none">
                                <h3>Im-PAW-sibly Good Deals!</h3>
                                <div class="position-relative" id="offer-animation">
                                    <img
                                        id="offer-percent"
                                        src="/assets/img/percent.png"
                                    >
                                    <img
                                        id="offer-circle"
                                        src="/assets/img/circle.png"
                                    >
                                    <img
                                        class="img-fluid"
                                        src="/assets/img/NPA-SponsorsIllustration.png"
                                    >
                                </div>
                                <div>
                                    <label class="margin-bottom-0">
                                        <input
                                            (change)="showOffers = !showOffers"
                                            checked
                                            type="checkbox"
                                        >
                                        Get offers and tips from our sponsors
                                        <a href="#">Learn More <i class="fa fa-angle-down"></i></a>
                                    </label>
                                </div><!-- form-group -->
                                <div *ngIf="showOffers">
                                    <br>
                                    <div class="form-group">
                                        <label>
                                            <input checked type="checkbox">
                                            I would like to receive inspiring stories, great advice, and awesome videos via email and other
    marketing communications from <strong>Purina</strong> and its brands.*
                                        </label>
                                    </div><!-- form-group -->
                                    <div class="form-group">
                                        <label>
                                            <input checked type="checkbox">
                                            Yes, I would like to receive communications from the Petco Foundation and Petco
    regarding their lifesaving work and access to discounts on pet products and services.
                                        </label>
                                    </div><!-- form-group -->
                                    <div class="form-group margin-bottom-0">
                                        <label>
                                            <input checked type="checkbox">
                                            Yes, I’d like to receive useful information about flea and tick prevention, pet care tips and
    coupons from Bayer via email.
                                        </label>
                                    </div><!-- form-group -->
                                    <br>
                                    <small>I certify I am 18 years of age or older and agree that Purina may use my information as described in
        the <a href="#">Privacy Policy</a> and <a href="#">About Our Ads</a>.</small>
                                </div><!-- showOffers -->
                            </div>
                        </div><!-- col -->
                    </div><!-- row -->
                </div><!-- card-body -->
            </div><!-- card -->
        </div><!-- col -->
    </div><!-- row -->
    <!-- End Subscription Component -->

    <!-- Search Form -->
    <div class="row">
        <div class="col-md-12 text-center">
            <br>
            <h1>Find Pets in Your Area</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4">
            <div class="card">
                <form (ngSubmit)="searchForPets(true)">
                    <div class="card-body">
                        <div class="form-group">
                            <label>Your Zip Code</label>
                            <input
                                [(ngModel)]="form.location"
                                class="form-control"
                                name="location"
                                type="text"
                                placeholder="84606"
                            >
                        </div>
                        <div class="form-group">
                            <label>Pet Type</label>
                            <select
                                [(ngModel)]="form.type"
                                class="form-control"
                                name="type"
                            >
                                <option
                                    *ngFor="let type of petTypes"
                                    value="{{ type.key }}"
                                >{{ type.name }}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Range</label>
                            <select
                                [(ngModel)]="form.locationRange"
                                class="form-control"
                                name="locationRange"
                            >
                                <option
                                    *ngFor="let range of locationRanges"
                                    value="{{ range }}"
                                >{{ range }} Miles</option>
                            </select>
                        </div>
                    </div><!-- card-body -->
                    <div class="card-footer">
                        <button
                            [disabled]="!form.location"
                            *ngIf="!loading"
                            class="btn btn-primary"
                        >
                            Find Pets <i class="fa fa-search"></i>
                        </button>
                        <i
                            *ngIf="loading"
                            class="fa fa-spinner fa-spin"
                        ></i>
                    </div>
                </form>
            </div><!-- card -->
        </div><!-- col -->
    </div><!-- row -->
    <!-- End Search Form -->

    <!-- Search Results -->
    <div *ngIf="pets" class="row">
        <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3">
            <br>
            <h2 class="pull-left">Results</h2>
            <div class="form-group pull-right">
                <div class="input-group">
                    <select
                        [(ngModel)]="ageSort"
                        (change)="sortResults()"
                        class="form-control"
                    >
                        <option
                            *ngFor="let a of ageSorts"
                            value="{{ a.key }}"
                        >{{ a.name }}</option>
                    </select>
                </div>
            </div>
            <div class="clear"></div>
            <ul class="list-group results">
                <li
                    *ngFor="let pet of pets"
                    class="list-group-item"
                >
                    <div class="row">
                        <div class="col-md-6 text-center">
                            <img
                                class="img-fluid"
                                src="{{ pet.large_results_photo_url }}"
                            >
                            <a
                                class="btn btn-primary"
                                href="#"
                            ><i class="fa fa-info"></i> Details</a>
                        </div><!-- col -->
                        <div class="col-md-6">
                            <br class="d-xs d-md-none">
                            <table class="table table-striped">
                                <tr>
                                    <th>Name</th>
                                    <td>{{ pet.pet_name }}</td>
                                </tr>
                                <tr>
                                    <th>Age</th>
                                    <td>{{ pet.age }}</td>
                                </tr>
                                <tr>
                                    <th>Breed</th>
                                    <td>
                                        {{ pet.primary_breed }}
                                        <div *ngIf="pet.secondary_breed">
                                            / {{ pet.secondary_breed }}
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Sex</th>
                                    <td>{{ pet.sex }}</td>
                                </tr>
                                <tr>
                                    <th>Location</th>
                                    <td>
                                        {{ pet.addr_city }}, {{ pet.addr_state_code }}
                                    </td>
                                </tr>
                            </table>
                        </div><!-- col -->
                    </div><!-- row -->
                </li>
            </ul>
            <p
                *ngIf="loading"
                class="text-center"
            >
                <i class="fa fa-spinner fa-spin"></i>
            </p>
        </div><!-- col -->
    </div><!-- row -->
    <!-- End Search Results -->

</div><!-- page -->
