/* Standard syntax */
@keyframes grow {
    0% { transform: scale(.25); opacity: 0; }
    25% { opacity: 1; transform: scale(.25); }
    100% { transform: scale(1); }
}

@keyframes fadeIn {
    0% { opacity: 0; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}
