a {
    color: $blue;
    font-weight: bold;
}
body {
    font-size: 11pt;
}
li.list-group-item {
    background-color: $lightgray;
    margin-bottom: 1em !important;
}
form {
    .row {
        div[class^="col-"] {
            padding: 7px !important;
        }
        padding: 0 10px;
    }
}
small {
    display: block;
    font-size: .75em;
    line-height: 1.5em;
    opacity: .5;
}

#error {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
}
#offers {
    #offer-animation {
        margin-top: 17px;
    }
    #offer-circle {
        width: 40px;
        position: absolute;
        top: -7px;
        left: 77px;
        animation-name: grow;
        animation-duration: 1s;
    }
    #offer-percent {
        position: absolute;
        top: 4px;
        width: 20px;
        left: 87px;
        z-index: 1;
        animation-name: fadeIn;
        animation-duration: 1s;
    }
    padding-left: 15px;
    img {
        max-width: 217px;
        width: 100%;
        margin-bottom: 10px;
    }
}
#subscribe-header {
    .small {
        font-size: .75em;
        line-height: .75em;
    }
}
#subscribe-form {
    padding-right: 15px;
}

.btn-primary {
    width: 100%;
    background-color: $green !important;
    border: none;
    font-weight: bold;
}
.card {
    border-top: 8px solid $blue;
    background: $lightgray;
}
.card h3 {
    font-size: 18pt;
}
.clear {
    clear: both;
}
.form-group {
    label {
        margin-bottom: 0;
    }
    margin-bottom: 10px;
}
.margin-bottom-0 {
    margin-bottom: 0;
}
.position-relative {
    position: relative;
}
.results {
    li {
        img {
            margin: 0 1em 1em 0;
        }
    }
}
.page {
    padding: 1em;
}

@media (max-width: 603px) {
    .results {
        .list-group-item {
            img {
                float: none;
            }
            table {
                float: none;
                width: 100%;
                text-align: left;
            }
            text-align: center;
        }
    }
}
